.box{
    width: 100px;
    height: 100px;
    background-color: #0e524d;
    /* animation-name: moveright;
    animation-duration: 2s;
    animation-iteration-count: 4; */
    /* shorthand */
    animation: moveright 2s infinite;
}
@keyframes moveright {
    0%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(300px);
    }
}