.box{
    width:100px;
    height: 100px;
    background-color: #067763;
    /* transition: all;
    transition-duration: 1s;
    transition-delay: 0.4s; */
    /* shorthand */
    transition: all 1s 0.4s;
    /* transtion | duration | timing-function | delay  */
    transition-timing-function: ease-in-out;
}
.box:hover{
    width: 200px;
    height: 200px;
    background-color: rgb(99, 99, 99);
    /* transition: all;
    transition-duration: 1s;
    transition-delay: 0.4s; */
}
